main section#section-a h1 {
	margin: 5rem;
}

input {
	display: inline-block;
}

input[type=radio] {
	width: 25%
}

label {
	width: 75%;
}

input[type=text],
input[type=email],
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

form div {
	text-align: center;
}

button {
	margin: 0 auto;
	text-align: center;
}