/* Section A */

main section#section-a {
	text-transform: uppercase;
	text-align: center;
	background-image: url("../img/bg-header-1.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

main section#section-a .container h1 {
	font-size: 10vw;
	font-family: 'Montserrat', sans-serif;
}

main section#section-a .container h1:first-of-type {
	letter-spacing: 0.5vw;
}

main section#section-a .container h3 {
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 5vw;
	text-transform: lowercase;
	color: #f8f9fa;
	text-shadow: 0.2vw 0.2vw 0.5vw #343a40;
}

main section#section-a .container h5 {
	transform-origin: center;
	transform: translate(-45%, 500%) rotate(-90deg);
	font-size: 2vw;
	max-width: 100vh;
}

main section#section-a .container h5 span {
	background-color: #343a40;
	width: 8vw;
	height: 0.3vw;
	display: inline-block;
	text-align: right;
	vertical-align: baseline;
}

main section#section-a .container div {
	margin-top: 10vh;
}

main section#section-a .container div a {
	text-decoration: none;
	border: 2px solid #28a745;
	text-shadow: 0 0.05vw 0.5vw #343a40;
	box-shadow: 0 0.05vw 0.5vw #343a40;
	font-weight: bolder;
	transition: 0.5s;
	text-transform: initial;
}

main section#section-a .container div a:hover {
	color: #f8f9fa;
	background-color: #28a745;
}

/* Section B */
main section#section-b .container {
	text-align: center;
	margin: 5rem;
}

main section#section-b div.slideshow {
	min-height: 50vh;
	height: auto;
	width: 75vw;
	position: relative;
}

main section#section-b div.slideshow button {
	position: absolute;
	top: 50%;
	font-size: 2vh;
	border: 1px solid #343a40;
	transition: all 0.25s;
	border-radius: 0;
}

main section#section-b div.slideshow button:hover {
	background-color: #1d2124;
	border-color: #1d2124;
}

main section#section-b div.slideshow button#arrow-left {
	left: 0;
}

main section#section-b div.slideshow button#arrow-right {
	right: 0;
}

main section#section-b div.slideshow div.slides {
	min-height: 100%;
	position: absolute;
	transition: all 0.5s;
}

main section#section-b div.slideshow div.slides#slide1 {
	background-image: url("../img/back-end.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

main section#section-b div.slideshow div.slides#slide2 {
	background-image: url("../img/bg-header-1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

main section#section-b div.slideshow div.slides#slide3 {
	background-image: url("../img/bg-header-2.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}