/* Section A */
span.type-bar {
	width: 0.2vw;
	height: 6vw;
	vertical-align: bottom;
	margin-left: 1vw;
	margin-bottom: 1vw;
	box-shadow: 0.2vw 0.2vw 0.5vw #343a40;
	display: inline-block;
}

main section#section-a {
	text-transform: uppercase;
	text-align: center;
	background-image: url("../img/bg-header-1.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

main section#section-a .container h1 {
	font-size: 11vw;
	font-family: 'Montserrat', sans-serif;
}

main section#section-a .container h1:first-of-type {
	letter-spacing: 0.5vw;
}

main section#section-a .container h3 {
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 6vw;
	text-transform: lowercase;
	color: #f8f9fa;
	text-shadow: 0.2vw 0.2vw 0.5vw #343a40;
}

main section#section-a .container h5 {
	transform-origin: center;
	transform: translate(-45%, 500%) rotate(-90deg);
	font-size: 2vw;
	max-width: 100vh;
}

main section#section-a .container h5 span {
	background-color: #343a40;
	width: 8vw;
	height: 0.3vw;
	display: inline-block;
	text-align: right;
	vertical-align: baseline;
}

main section#section-a .container div {
	margin-top: 10vh;
}

main section#section-a .container div a {
	text-transform: initial;
	font-size: 1.2rem;
}

/* Section B */
main section#section-b .container {
	text-align: center;
	margin: 1rem auto;
}

main section#section-b .container p {
	font-size: 2rem;
	margin: 1rem auto;
}

main section#section-b .container a {
	font-size: 1.2rem;
	color: #f8f9fa;
	text-align: center;
	border-color: #28a745;
}

main section#section-b div.slideshow {
	min-height: 50vh;
	height: auto;
	width: 75vw;
	position: relative;
}

main section#section-b div.slideshow button {
	position: absolute;
	top: 50%;
	font-size: 2vh;
	border: 1px solid #343a40;
	transition: all 0.25s;
}

main section#section-b div.slideshow button#arrow-left {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

main section#section-b div.slideshow button#arrow-right {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

main section#section-b div.slideshow button:hover {
	background-color: #1d2124;
	border-color: #1d2124;
}

main section#section-b div.slideshow button#arrow-left {
	left: 0;
}

main section#section-b div.slideshow button#arrow-right {
	right: 0;
}

main section#section-b div.slideshow div.slides {
	min-height: 100%;
	position: absolute;
	transition: all 0.5s;
}

main section#section-b div.slideshow div.slides#slide1 {
	background-image: url("../img/websites.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
}

main section#section-b div.slideshow div.slides#slide2 {
	background-image: url("../img/databases.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left;
}

main section#section-b div.slideshow div.slides#slide3 {
	background-image: url("../img/custom_software.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

main section#section-b div.slideshow div.slides#slide4 {
	background-image: url("../img/digital_marketing.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left;
}

main section#section-b div.slideshow div.slides h3 {
	text-align: center;
	font-size: 6vw;
	max-width: 70%;
	margin: 0 auto;
	top: 50%;
	left: 0;
	right: 0;
	position: absolute;
	-webkit-text-stroke-color: #343a40;
	-webkit-text-stroke-width: 0.1vw;
}

main section#section-b .container {
	padding-top: 1rem;
}

/* Section C */
main section#section-c {
	background-image: url("../img/bg-header-2.jpeg");
	background-size: cover;
	background-attachment: fixed;
	background-position: bottom;
}

main section#section-c .container p {
	font-size: 2rem;
	margin: 1rem auto;
}

main section#section-c div.container:first-of-type {
	text-align: center;
	margin: 5rem auto;
}

main section#section-c div.cardsshow {
	height: 33vh;
}

main section#section-c div.cardsshow a div.card-container {
	float: left;
	position: relative;
	min-height: 100%;
	min-width: calc(100%/2);
}

main section#section-c div.cardsshow a div.card-container div.cards {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all 0.25s;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}

main section#section-c div.cardsshow a div.card-container div.cards span {
	position: relative;
	top: 30%;
	left: 20%;
	font-size: 5vw;
	color: #f8f9fa;
}

main section#section-c div.cardsshow a div.card-container div.cards#card1 span {
	font-family: "Amatic SC", cursive;
}

main section#section-c div.cardsshow a div.card-container div.cards#card2 span {
	font-family: "Dosis", sans-serif;
}

main section#section-c div.cardsshow a div.card-container>span {
	transition: all 0.25s;
	margin: 1rem;
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}

main section#section-c div.cardsshow a div.card-container h3 {
	position: absolute;
	opacity: 0;
	top: 15%;
	left: 10%;
	transition: all 0.25s;
	z-index: 1;
}

main section#section-c div.cardsshow a:hover div.card-container div.cards {
	opacity: 0.1;
}

main section#section-c div.cardsshow a:hover div.card-container>span {
	top: calc(33vh/3);
	opacity: 1;
}

main section#section-c div.cardsshow a:hover div.card-container h3 {
	top: 45%;
	opacity: 1;
}