#btn-modal1 {
	padding: 15vw 25vw !important;
	background-image: url("../img/travelwithus.png");
	background-position: center;
	background-size: cover;
}

#btn-modal2 {
	padding: 15vw 25vw !important;
	background-image: url("../img/dreamplay.png");
	background-position: center;
	background-size: cover;
}

section#section-a h1 {
	margin: 1rem;
}

.modal {
	z-index: 5;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(52, 58, 64, 0.4);

}

.modal-content {
	position: relative;
	box-shadow: 1px 1px 2rem #343a40;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 0.4s;
	animation-name: fade;
	animation-duration: 0.4s
}

.modal-header {
	padding: 1rem;
}

.modal-header h1 {
	margin-left: 1rem;
}

.modal-body {
	padding: 2rem;
}

.modal-body h3 {
	margin-top: 1rem;
}

.modal-body li {
	margin-left: 2rem;
}

.modal-body iframe {
	width: 75%;
	min-height: 568px;
	margin: 0 auto;
}

.fa-times {
	float: right;
	cursor: pointer;
	margin: 1.75rem;
}

@keyframes fade {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}